.hand {
	position: relative;
	height: 100px;
}

.hand.stacked {
	width: 150px;
}

.hand.bunched {
	width: 300px;
}

.card {
	position: absolute;
	top: 0;
	/* width: 100%; */
}

/* .hand.flat .card {
	margin-right: 3px;
} */