.card {
	display: inline-block;
	position: relative;
	background: white;
	width: 70px;
	height: 100px;
}

.card:not(.static) {
	transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
	.selected:not(.static) {
		box-shadow: 0px 0px 5px 5px #2578CF;
	}
}

@media screen and (min-width: 1025px) {
	.card:hover:not(.selected):not(.static) {
		top: -10px;
		opacity: 0.6;
	}

	.selected:not(.static) {
		top: -20px;
		opacity: 1;
	}
}

.img {
	
}
