.card {
	display: inline-block;
	position: relative;
	background: white;
	width: 70px;
	height: 100px;
}

.card:not(.static) {
	transition: all 0.3s;
}

.card:hover:not(.selected):not(.static) {
	top: -10px;
	opacity: 0.6;
}

.selected:not(.static) {
	top: -20px;
	opacity: 1;
}

.img {
	
}
