.game {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 30px;
}

.stats {
	margin-bottom: 30px;
}

.player {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.left {
	left: 0;
	/* transform: rotate(90deg); */
}

.right {
	right: 0;
	/* transform: rotate(-90deg); */
}

.center {
	display: flex;
}

.pool, .pile, .stats {
	/* flex: 1; */
}

.pool {

}

.pile {
	margin: 0 40px;
}

.stats {
	
}