.lobby {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background: lightblue;
	width: 100%;
	height: 100vh;
}

.input {
	border-radius: 10px;
	border: none;
	padding: 7px 5px;
}

.input:focus {
	outline: none;
}

.btn {

}

.ready {
	background: #2578CF;
}